.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
npm-debug.log*
.npm
.nyc_output
.coverage
.coveralls.yml
junit.xml
**/*.tsbuildinfo